.container > div {
    border: 1px solid black;
    background-color: #8a2be2;
    color: white;
    font-size: 20px;
}

/*
.container {
    /*ocupam o tamnho maximo do elemento
      display: inline-grid;*/
 /*   display: grid;
      com grid template definimos as linhas e as colunas*/
 /*   grid-template-columns: auto auto; /*2 colunas de tamanho alto*/
 /*   grid-template-rows: 150px 50px; /*defini a altura das linhas*/
/*}*/

/*forma mais prática*/
.container {
    display: grid;
    /*extender duas colunas para auto*/
   /* grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, 150px);*/
    
    /*podemos abreviar também*/
    /*grid-template: 150px / auto auto;*/
                      /* linha - row /  coluna - column*/
    grid-template: repeat(1, 150px) / repeat(2, auto);

    /*grid-gap: 1px; /*espaçamento entre as celulas*/
    /*grid-column-gap: 10px; /*espaçamento entre as colunas*/
    /*grid-row-gap: 50px; /*espaçamento entre as linhas*/

    /*abreviando o espaçamento entre linhas e colunas*/
    grid-gap: 20px 10px; /*1px entre as linhas e 10px entre as colunas*/
}

