.flex-start {
    justify-content: flex-start;
    /*padrão*/
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between{
    /*distribuídos uniformemente 1 e 3 no canto*/
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    /*espaços uniformemente iguais*/
    justify-content: space-evenly;
}